.start-container {
  .map_canvas {
    height: 580px
  }
  .btn {
    display:block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #F60;
    color: #fff;
    text-decoration:none;
    margin-top: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
  }

}